/* #root{
    min-height:555px;
} */
.active > div
{
    background-image: url("@icons/activeLinkIcon.svg");
    background-position: center;
    background-size: 50px;
    border-radius: 100px;
    padding: 12px;
    background-repeat: no-repeat;

}
@font-face {
    font-family: "LuckiestGuy";
    src: local("LuckiestGuyRegular"),
    url("./public/fonts/Luckiest_Guy/LuckiestGuy-Regular.ttf") format("truetype");
    font-weight: bold;
}