/* #root{
    min-height:555px;
} */
.active > div
{
    background-image: url("@icons/activeLinkIcon.svg");
    background-position: center;
    background-size: 50px;
    border-radius: 100px;
    padding: 12px;
    background-repeat: no-repeat;

}