.home {
    min-height: 90vh;
    height: fit-content;
    section p {
        padding: 0%;
        margin:0%;
        font-size: min(0.3vw + 0.8em, 30px);
    }

    h1 {
        font-family: "LuckiestGuy";
        font-size: min(2vw + 1em, 80px);
    }
}
