.signIn {
    background: linear-gradient(180deg, #03062E -50%, #5F0A94 50.71%);
    height: 18em;
    border-radius: 50px;
    color: #FFFFFF;
}

.signIn>p {
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.signInStick {
    background: linear-gradient(180deg, #C56D34 0%, #EAB091 100%);
    width: 3em;
    height: 30em;
}

.signInAnimation {
    position: relative;
    animation: ease-out;
    animation-name: signInAnimation;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}

@keyframes signInAnimation {
    0% {
        opacity: 0.8;
        left: 0px;
        top: 0px;
    }

    50% {
        opacity: 0.3;
        transform: translateX(-100%);
    }

    100% {
        opacity: 0.1;
        transform: translateX(-120%);
    }
}

.signInRenderAnimation {
    position: relative;
    animation: ease-in;
    animation-name: signInRenderAnimationFrames;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}


@keyframes signInRenderAnimationFrames {
    from {
        opacity: 0.3;
        transform: translateX(-100%);
    }

    to {
        opacity: 1.0;
        transform: translateX(0%)
    }
}