.chatLayout{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
}

.chatLayout main[id="main"]{
    background-color: rgb(132, 132, 115);
    display:flex;
    flex-direction: row;
    justify-content: center;
    color: black;
    min-height: fit-content;
}

.chatLayout section[id="section1"]{
    display:flex;
    flex-flow: row nowrap;
    justify-content: center;

    min-height: 200px; /*only for testing porpuses*/

}
.chatLayout section[id="section2"]{
    background: #4233b8;
    /* display:flex;
    flex-flow: row nowrap; */

    min-height: 200px; /*only for testing porpuses*/
}
