.profileLayout {
    background-color: rgb(212, 165, 165) !important;
    min-height: 50em !important;
    height: 100%;
    color: black;
    display: grid;
    grid-template-rows: repeat(11, 8.33%) 1fr;
    grid-template-columns: repeat(10, 10%);
    min-height: fit-content;
    min-width: fit-content;
}

.profileLayout div[class*="aiStats"] {
    grid-column: 1 / 5;
    grid-row: 5 / 9;
    background-color: yellow;
    height: fit-content;
    >div{
        margin-left:auto;
        margin-top: 3em;
        padding:1em;
        max-width: 80%;
        min-width: 60%;
    }
}

.profileLayout div[class*="profileStats"] {
    grid-column: 5 / 10;
    grid-row: 5 / 9;
    background-color: rgb(157, 255, 0);
    min-height: fit-content;
    min-width: fit-content;
}

.profileLayout div[class*="classicTournamentStats"] {
    grid-column: 8 / 11;
    grid-row: 1 / 13;
    background-color: rgb(217, 84, 179);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: fit-content;
    min-width: fit-content;
}

.profileLayout div[class*="classicStats"] {
    background-color: rgb(0, 200, 255);
    min-width: fit-content;
    >div{
        margin-inline: 5%;
        margin-top: 1em;
        padding:1.2em;
        min-height: 12em;
    }
}

.profileLayout div[class*="tournamentStats"] {
    background-color: rgb(0, 200, 255);
    min-width: fit-content;
    >div{
        margin-inline: 5%;
        margin-bottom: 1em;
        padding:1.2em;
        min-height: 12em;
    }
    * [class*="title"]{
        font-size: clamp(0.4em, 0.4em + 1vw, 2em);
    }
    * [class*="wins"],* [class*="loses"],* [class*="matches"]
    {
        font-size: clamp(0.4em, 0.4em + 1vw, 2em);

    }
}

.profileLayout div[class*="breadcrumbs"] {
    grid-column: 2 / 3;
    grid-row: 12 / 13;
    background-color: rgb(255, 166, 0);
    min-height: fit-content;
    min-width: fit-content;
}

.profileLayout div[class*="waletStats"] {
    grid-column: 2 / 6;
    grid-row: 1 / 2;
    background-color: rgb(255, 166, 0);
    min-height: fit-content;
    min-width: fit-content;

}