.game {
    background-color: red;
    padding: 0px;
    margin: 0px;
    width: fit-content;
    max-width: 100%;
}

.game div[id="gameContent"] {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* flex-grow: auto; */
    row-gap: 0;
    /* background-color: black; */
}

.game>div> :first-child {
    background-color: blue;
}

.game>div> :last-child {
    background-color: green;

}

.game div[id="gameBackground"] {
    height: fit-content;
    min-height: 100%;
}