.game {
    color:white;
    padding: 0px;
    width: fit-content;
    min-width: 100%;
    height: fit-content;
    min-height: 100%;
}

.game div[id="gameContent"] {
    min-height: 100vh;
    padding: 0.5em;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    gap: 2.3rem;
}

/*here is the compoonent that contains pongPlayer and player Profile*/
.game>div> :first-child {
    /* background-color: blue; */
}

/*here is the compoonent that contains games mode, leader bord and last games results*/
.game>div> :last-child {
    /* background-color: black; */
    flex-grow: 2;

}

.game div[id="gameBackground"] {
    height: fit-content;
    min-height: 100vh;
    width: fit-content;
    min-width: 100%;
    margin-inline:auto;
}

@media screen and (min-width: 767px) { /*if the screen > 767 the break point from small to medium*/ 
    .game div[id="gameContent"]{
        padding: 1em;
    }
}

@media screen and (max-width: 767px) {
    .game>div> :first-child >div:nth-child(2)  {
        /* background-color: blue; */
        /* padding: 0px !important; */
    }
}