.gameLeaderBoardInGame {
    * > th{
        font-size: clamp(1em, 0.2em + 1vw, 3em);
    }
    * > td{
        font-size: clamp(1em, 0.2em + 1vw, 3em);
    }
    * td > img{
        width: clamp(1em, 1em + 1vw, 4em);
    }
}