/* game mode in game */
.gameModeInGame {
    display: flex;
    justify-content: space-around;
    width: 90%;

    >div:last-child,
    >div:first-child {
        border: 1px white solid;
        border-radius: 6px;
         *{
            width: max(15px, 1em + 1vw);
        }
    }
}

.gameModeInGameSlides {


    display: flex;
    min-width: 80%;
    justify-content: space-evenly;

    >div {
        border: 1px white solid;
        /* margin-block: min(auto, 20px) !important; */
    }

    img {
        max-height: 100%;
    }

    >div:first-child,
    >div:last-child {
        height: 80%;
        width: min(40%, 200px);
        min-height: fit-content;
        border-radius: 20px;

        >div>img {
            background-color: gray;
        }

        *>h3 {
            font-family: var(--font-luckiestGuy);
            font-weight: 500;
            font-size: clamp(0.25em + 0.25vw, 0.5em + 0.5vw, 0.5em + 0.8vw);
        }

        *>p {
            font-size: clamp(0.3em + 0.2vw, 0.1em + 0.5vw, 2em);
            line-height: 1em;
            font-weight: 300;
            background-color: rebeccapurple !important;
        }

        /* the side slider's text and button  box */
        button {
            background: linear-gradient(90deg, #E03CCF -40.94%, #5D5AE7 168.9%);
            color: white;
            width: fit-content !important;
            min-height: fit-content !important;
            margin-top: 5% !important;
            margin-bottom: 10% !important;
            border-radius:23px;
            text-wrap: nowrap;
            font-family: var(--font-luckiestGuy);
            font-size: clamp(0.25em + 0.25vw, 0.5em + 0.5vw, 0.5em + 0.8vw) !important;
            padding: 0px 5px 0px !important;
        }
        filter: blur(1.8px);
    }

    >div:nth-child(2) {
        height: 100%;
        width: 70%;
        width: min(70%, 400px);
        border-radius: 20px;

        >div {
            margin-top: 20px !important;
            >h3 {
                /* background-color: aquamarine; */
                font-family: var(--font-luckiestGuy);
                font-weight: 500;
                font-size: clamp(0.5vw + 0.5em, 0.5em + 2vw, 1em + 1vw);
            }

            >p {
                font-size: clamp(0.6em + 0.2vw, 0.5em + 1vw, 2em);
                line-height: 1em;
                font-weight: 400;
            }

            button {
                background: linear-gradient(90deg, #E03CCF -40.94%, #5D5AE7 168.9%);
                color: white;
                width: fit-content !important;
                min-height: fit-content !important;
                margin-top:2em !important;
                margin-bottom: 10% !important;
                border-radius:23px;
                text-wrap: nowrap;
                font-family: var(--font-luckiestGuy);
                font-size: 1em !important;
                padding: 0px 9px 0px !important;
            }

            img {
                /* background-color: red; */
            }
        }
    }
}

.gameModeInGameSlides>div[id="slideAiMode"] {
    /* background-image: url(/public/assets/images/robot.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto 100%; */
    /* width: fit-content; */

}

.gameModeInGameSlides>div[id="slideTournament"] {
    /* background-image: url(/public/assets/images/tournament.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto 90%; */
    /* width: fit-content; */
    h3 {
        /* background-color: aquamarine !important;
        font-weight: 400;
        font-size: clamp(1em, 1em + 1vw, 0.5em + 1vw); */
    }
    p {
        /* background-color: aquamarine !important; */
        /* font-size: clamp(0.6em + 0.2vw, 0.5em + 1vw, 2em);
        line-height: 1em;
        font-weight: 400; */
    }

}

.gameModeInGameSlides>div[id="slideFriends"] {
    /* background-image: url(/public/assets/images/friends.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: auto 60%; */
    /* width: fit-content; */

}