/* border border-black rounded-4 w-100 */
.pongPlayerInGame {
    color: #C144D5;
    min-width: fit-content;
    min-height: fit-content;
    div[id="PongPlayerText"] {
        background-color: #D9D9D91A;
        backdrop-filter: blur(3px);
        border: 1px #D9D9D91A solid;
        border-radius: 20px;
        min-height: 70%;
        height: fit-content;
        padding-top: 1em;

        * {
            font-family: "LuckiestGuy";
            font-size: min(1vw + 0.5em, 30px);
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0.14em;
        }

        button {
            background: linear-gradient(90deg, #E03CCF -40.94%, #5D5AE7 168.9%);
            font-size: 1em !important;
            width: fit-content !important;
            min-height: fit-content !important;
            margin-bottom: 10% !important;
            color: white;
            padding: 0px 20px 0px !important;
        }
    }

    @media only screen and (min-width:2500px) {
        div[id="PongPlayerText"] {
            * {
                font-size: clamp(2em, 1em + 0.6vw, 2em);
                font-family: "LuckiestGuy";
                font-weight: 400;
                letter-spacing: 0.14em;
            }

            button {
                font-size: clamp(2em, 1em + 0.6vw, 2em);
                font-weight: 400;
                letter-spacing: 0.14em;
                padding: 5px 80px !important;
            }
        }

    }

}